@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;

    > label,
    > div {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        > label {
            > input {
                margin-right: 4px;
            }
        }

        > span {
            min-width: 200px;
        }

        input {
            border: 1px solid #000;
            border-radius: 4px;
            padding: 4px 8px;
        }
    }

    button {
        border-radius: 4px;
        background-color: skyblue;
        color: #fff;
        padding: 8px;
    }
}
